body {
    margin: 0;
    text-align: center;
}

.menu {
    position: fixed;
    font-size: 25px;
    font-family: fantasy;
    cursor: pointer;
    z-index: 10px;
    list-style: none;
    background-color:coral;
    top: 0px;
    margin-top: 0px;
    width: 100%;
}

.links {
    display: inline;
    padding-left: 35px;
    padding-right: 25px;
    color: aliceblue;
    font-family: monospace;
    font-size: 25px;
}
.links:hover{
    text-decoration: underline;
    background-color: aqua;
}
.line{
    width: 70px;
    background-color: black;
    height:6px;
    margin: 0px auto;
}
#welcome{
    width: 800px;
    height: 500px;
}
.home{
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
}
#ph1{
    width: 300px;
    height: 200px;
    text-align: center;
}
#ph2{
    width: 300px;
    height: 200px;
    text-align: center;
}
#ph3{
    width: 300px;
    height: 200px;
    text-align: center;
}
#ph4{
    width: 300px;
    height: 200px;
    text-align: center;
}
#ph5{
    width: 300px;
    height: 200px;
    text-align: center;
}
#ph6{
    width: 300px;
    height: 200px;
    text-align: center;
}
#ph7{
    width: 300px;
    height: 200px;
    text-align: center;
}
#ph8{
    width: 300px;
    height: 200px;
    text-align: center;
}
.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}









